$colorMessage: rgb(0, 0, 0);

@mixin flexVolonter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
}

.reportImg {
  &__sectionImg > img {
    width: 100%;
  }
  &__sectionImg {
    padding: 0;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
}
.imgFacebook {
  width: 40px;
}
.VolonterBox {
  &__wrapImg {
    padding: 6vw 0;
  }
  &__name {
    text-align: center;
    font-size: 1.5vw;
  }
  &__subText {
    text-align: center;
    font-size: 1vw;
    padding: 2vw 0;
  }

  &__volunteerTitle {
    text-align: center;
    font-size: $fontSize2;
    padding: 4vw 0 2vw 0;
  }
  &__title {
    text-align: center;
    font-size: 2.5vw;
    &--help {
      font-size: 2vw;
    }
  }
  &__description {
    font-size: 1.5vw;
  }
  &__imgMessage {
    width: 40px;
  }
  &__wrapVolunteer {
    padding: 2vw 8vw;
    @include flexVolonter();
    gap: 4vw;
  }
  &__imgStyle {
    height: 350px;
  }
  .VolonterBox__imgMessage {
    &-imgFacebook {
      width: 30px;
    }
  }
  &__imgVolunteer {
    width: 100%;
    padding: 0 0 2vw 0;
    height: 17em;
  }

  &__messageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  &__fundraisingWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8vw 4vw;
    flex-direction: column;
    gap: 2vw;
  }
  &__titleHelp {
    font-size: 2vw;
  }

  &__description {
    padding: 2vw 4vw;
  }
  &__fundraising-btn {
    font-size: 1.5vw;
  }
  &__linkDescription {
    display: flex;

    flex-direction: row;
    gap: 4vw;
  }
  &__linkDescription > a {
    color: $colorMessage;
  }
  &__VolonterBox {
    padding: 4vw 8vw;
    @include flexVolonter();
  }
  &__wrapReport {
    padding: 4vw 0;
    flex-direction: column;
  }
  &__reportImg {
    padding: 4vw 8vw;
  }
}
@media screen and (max-width: 1440px) {
  .reportImg {
    &__sectionImg {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 1025px) {
  .VolonterBox {
    &__wrapVolunteer {
      grid-template-columns: repeat(2, 1fr);
    }
    &__name {
      font-size: 2vw;
    }
    &__subText {
      font-size: 1.5vw;
    }
    &__reportImg {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 605px) {
  .reportImg {
    padding: 0 0;
    &__sectionImg {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .VolonterBox {
    padding: 4vw 12vw;
    &__subText {
      font-size: 3vw;
    }
    &__imgVolunteer {
      width: 100%;
      padding: 2vw 0;
      height: 25em;
    }

    &__volunteerTitle {
      padding: 10vw 0 0vw 0;
      font-size: 4vw;
    }
    &__wrapVolunteer {
      padding: 8vw 0;
      display: flex;
      flex-direction: column;
      gap: 12vw;
    }
    &__description {
      text-align: center;
      font-size: 3vw;
      padding: 4vw 0;
    }
    &__title {
      font-size: 5vw;

      &--help {
        font-size: 3vw;
      }
    }
    &__name {
      text-align: center;
      font-size: 3vw;
    }
    &__linkDescription {
      flex-direction: row;
    }
    &__reportImg {
      grid-template-columns: repeat(1, 1fr);
    }
    &__fundraising-btn {
      font-size: 2.5vw;
    }
  }
}
@media screen and (max-width: 605px) {
  .VolonterBox {
    &__imgVolunteer {
      height: 20em;
    }
  }
}
@media screen and (max-width: 355px) {
  .VolonterBox {
    &__imgVolunteer {
      height: 15em;
    }
  }
}
