@import "./Header.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import "./volontersPageStyle/VolontersContact.scss";
@import "./About/about.scss";
@import "./mainPage/TitleFirstPage.scss";
@import "./mainPage/LinkToInterview.scss";
@import "./mainPage/HowToBolonteer.scss";
@import "./Interview/Intertview.scss";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "PT Serif", serif;
  text-decoration: none;
}

p {
  font-weight: 400;
}
h2 {
  font-weight: 700;
}
